<!DOCTYPE html>
<html>
<head>
  <link href="../stylesheets/popupform.css" rel="stylesheet">
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<div>Dear <%= @user.name %>,
 
<p>You have successfully cancelled your mock interview reservation for CareerBuilder Mock Interview Day on <%= @date %> at <%= @user.interviewTime %>.</p>
 
<p>Feel free to contact us with any questions or comments at cbmid@careerbuilder.com</p>
</div>

</body>
</html>