html>
<% content_for :head do %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" xmlns="http://www.w3.org/1999/html">
    <% page_heading "Atlanta / Schedule a Mock Interview" %>
    <meta name="description" content="Hey Atlanta, come participate in CareerBuilder’s Mock Interview Day.  Space is limited.  Register here." />
<% end %>
<div>
  <div id="header">
    <h4>Next Mock Interview Day: September 17, 2016</h4>
  </div>
  <%=image_tag("mockmasthead.jpg", alt: "CareerBuilder Mock Interview Daya", class:"respimg")%>
</div>
</html>