<h1>Interview#show</h1>
<p>Find me in app/views/interview/show.html.erb</p>
<p>
  <strong>Name:</strong>
  <%= @interview.name %><br>
  <strong>Last Name</strong>
  <%= @interview.lastName  %><br>
  <strong>Interview Status</strong>
  <%= @interview.interviewStatus %>
</p>