<!DOCTYPE html>
<html>
<head>
<style>
section {
    width:60%;
    float:left;
    padding:70px;   
    font-size: 20px 
}
button {
   background-color: #FF3300;   
   color:white;
}
aside {
    width:40%;
    float:right;
    padding:70px; 
    font-size: 20px   
}
footer {
    background-color:#1F1F99;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;     
}
    </style>

    <div id="header">
<h4>Next Mock Interview Day: August 22, 2015</h4>
  </div>
  
  <%=image_tag("mockmasthead.jpg", alt: "CareerBuilder Mock Interview Day", class:"respimg")%>
  <%=image_tag("mockphotos.jpg", alt: "CareerBuilder Mock Interview Day", class:"respimg")%>

<body>
<h3 style="color: darkred">NOTE: The registration portal is not yet live, but will be available in the coming weeks. Please check back 3-4 weeks
  in advance to schedule your time</h3>
<section>

<h3>CareerBuilder Mock Interview Day will be held on:</h3>

<br>

<strong><font color=#0029A3>Saturday, August 22, 2015 from 9am to 1pm.</font></strong></p>

<br>
<address>
  <strong>Location</strong><br>
  CareerBuilder
  5550-A Peachtree Pkwy.<br>
  Norcross, GA 30092<br>
</address>

<p>Cost: <strong>FREE</strong></p>

<br>
    <a class="btn btn-warning" href="/schedule" role="button">Schedule a Mock Interview</a>

<br>
<br>

<p>This free service is open to anyone looking to sharpen
their interviewing skills. Employees of careerbuilder
will conduct mock interviews and provide helpful feedback.
Each mock interview will take 15 minutes and
each participant is allowed two interviews. Space is
limited to the first 100 participants. Sign up and
upload your resume on the right:</p>

<p>This free service is open to anyone looking to sharpen
their interviewing skills. Employees of careerbuilder
will conduct mock interviews and provide helpful feedback.
Each mock interview will take 15 minutes and
each participant is allowed two interviews. Space is
limited to the first 100 participants. Sign up and
upload your resume on the right:</p>

<br>
<br>
<address>
  <strong>For More Information Email</strong><br>
  <a href="mailto:#">cbmid@careerbuilder.com</a>
</address>
</section>

<aside>
  <div style="background-color:#F7F6F3; color:black; padding:20px;">
    <h3>About CareerBuilder</h3>
<br>
<p>CareerBuilder has the largest online job site in the U.S., but we're more than just a job board. We
are the global leader in human capital solutions. Through constant innovation, unparalleled technology, and customer care delivered at every touch point, CareerBuilder helps match the right talent with the right opportunity more often than any other site.</p>
<br>
<p>This free service is open to anyone looking to sharpen
their interviewing skills. Employees of careerbuilder
will conduct mock interviews and provide helpful feedback.
Each mock interview will take 15 minutes and
each participant is allowed two interviews. Space is
limited to the first 100 participants.</p>

</div>
</aside>

</body>


