<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type='text/javascript' src="form.js.erb"></script>
  <link href="../stylesheets/popupform.css" rel="stylesheet">
  <style>
      /*section {
          width:100%;
          float:left;
          padding:70px;
          font-size: 20px
      }*/
      /*button {
         background-color: #FF3300;
         color:white;
      }*/
      /*aside {
          width:40%;
          float:right;
          padding:70px;
          font-size: 20px
      }*/
      /*footer {
          background-color:#1F1F99;
          color:white;
          clear:both;
          text-align:center;
          padding:5px;
      }*/
  </style>
  <div>
    <div id="header">
      <h4>Next Mock Interview Day: September 17, 2016</h4>
    </div>
    <%=image_tag("mockmasthead.jpg", alt: "CareerBuilder Mock Interview Day", class:"respimg")%>
        <body>
        <section>
          <h2>Schedule Your Mock Interview Here</h2>

          <br>
          <%= render 'interviews/new' %>
          <br>
          <p>Job seekers in the Atlanta area are invited to practice their interview skills and receive feedback 
          from experienced hiring managers. This is not an interview for employment at CareerBuilder, rather an opportunity
          for participants to gauge how well they answer questions in an interview setting, learn interview best practices, 
          and get personalized tips on how to improve their interviewing skills. <br />
          
          The mock interview should last about 30 minutes. Participants will do a mock interview for 10-15 minutes followed
          by a 10-15 minute critique by their mock interviewers. At the end of the mock interview, participants will be sent
          home with a personalized feedback worksheet and top interview tips. <br />
          
          Space is limited to the first 100 participants. Cost is FREE. Reservations must be made through the registration
          portal here: </p>
          
          <br>
          <br>
          <address>
            <strong>For More Information Email</strong><br>
            <a href="mailto:#">cbmid@cb.com</a>
          </address>
        </section>


        </body>
