<html>
<head>
<style>
section {
    width:100%;
    float:left;
    padding:30px;   
    font-size: 20px 
}
button {
   background-color: #FF3300;   
   color:white;
}
aside {
    width:40%;
    float:right;
    padding:30px; 
    font-size: 20px   
}
footer {
    background-color:#1F1F99;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;     
}
    </style>
<div>
    <div id="header">
<h4>Next Mock Interview Day:  September 15, 2015</h4>
</div>
  <%=image_tag("mockmasthead.jpg", alt: "CareerBuilder Mock Interview Day", width: 1400, height: 200)%>
  <%=image_tag("mockphotos.jpg", alt: "CareerBuilder Mock Interview Day", width: 1400, height: 200)%>
<body>
<section>
<h3>Schedule Your Mock Interview Here</h3>

<br>

<strong><font color=#0029A3>Saturday, May 21, 2015 from 9 am to 1 pm.</font></strong></p>

<br>
<address>
  <strong>Location</strong><br>
  CareerBuilder
  5550-A Peachtree Pkwy.<br>
  Norcross, GA 30092<br>
</address>

<p>Cost: <strong>FREE</strong></p>

<br>
<p><button type="button">Schedule a Mock Interview</button>
</p>

<br>

<p>This free service is open to anyone looking to sharpen
their interviewing skills. Employees of careerbuilder
will conduct mock interviews and provide helpful feedback.
Each mock interview will take 15 minutes and
each participant is allowed two interviews. Space is
limited to the first 100 participants. Sign up and
upload your resume on the right:</p>

<p>This free service is open to anyone looking to sharpen
their interviewing skills. Employees of careerbuilder
will conduct mock interviews and provide helpful feedback.
Each mock interview will take 15 minutes and
each participant is allowed two interviews. Space is
limited to the first 100 participants. Sign up and
upload your resume on the right:</p>

<br>
<br>
<address>
  <strong>For More Information Email</strong><br>
  <a href="mailto:#">allison.fabella@careerbuilder.com</a>
</address>
</section>


</body>


