<%= form_for(@user_mailer_auto) do |f| %>
  <% if @user_mailer_auto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_mailer_auto.errors.count, "error") %> prohibited this user_mailer_auto from being saved:</h2>

      <ul>
      <% @user_mailer_auto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
